<div>
  <nav>
    <ul>
      <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li><a href="#">Offers</a></li>
      <li><a [routerLink]="['/profile']" routerLinkActive="active">Profile</a></li>
      <li><a [routerLink]="['/faq']" routerLinkActive="active">FAQ</a></li>
      <li  *ngIf="authService.isLoggedIn">
        <a href='login' style='color:white' (click)="authService.SignOut()">
         Log out
        </a>
      </li>
      <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
    </ul>
  </nav>
</div>